{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <section>
            <h1>Bienvenue sur la page de nos histoires</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, dicta doloribus harum ipsum laudantium nostrum quaerat! Aliquid assumenda at corporis enim esse eveniet minima nulla, numquam porro quidem reprehenderit saepe.</p>
        </section>
    </main>
{% endblock %}
